<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add a customer</title>
</head>
<body>

<h1>Add a New Customer</h1>

<form action="/add-customer" method="post">
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname"/>

    <label for="firstname">Last Name</label>
    <input type="text" id="lastname" name="lastname"/>

    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone"/>

    <label for="email">Email</label>
    <input type="text" id="email" name="email"/>

    <input type="submit" value="Add"/>
</form>

</body>
</html>